    <secction class="products">
         <% productos.forEach(producto => { %>
            <div class="product-card">
                <h3><%= producto.title %></h3>
                <p><%= producto.description %></p>
            </div>
        <% }); %>
        
    </secction>
