<h1>Crear productos</h1>

<form action="/productos" method="POST">
   <div class="form__group">
    <label for="nombre" class="form__label">Nombre:</label>
    <input type="text" class="form_input" name="nombre" id="nombre" required>
   </div>
    <button class="button button--primary" type="submit">Crear Producto</button>